.Features {
  max-width: 900px;
  margin: 80px auto 0 auto;
}

.Features__columns {
  // Reverse every other row
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &:not(:last-of-type) {
    padding-bottom: 1.5rem;
    @media screen and (min-width: 769px) {
      padding-bottom: 2.5rem;
    }
  }
}

.Features__title {
  margin-bottom: 1.2rem !important;
}

.Features__no-classname {
  display: block;
  max-width: 300px;
  margin: 30px auto;
}

.messagecontainer {
  border: 2px solid #2a2c31;
  background-color: #2a2c31;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-radius: 10px;
}
